
/*--------loading 開始--------*/
/*--------loading 結束--------*/
/*--------側邊選單 開始--------*/
/*--------側邊選單 結束--------*/
/*--------header 開始--------*/
    /*menu-toggle*/
    /*popup-nav*/
    /*popup-close*/
/*--------header 結束--------*/
/*--------主視覺 開始--------*/
    /*--------裝飾線line左上右下/linetwo右上左下 開始--------*/
    /*--------裝飾線line左上右下/linetwo右上左下 結束--------*/
    /*RWD側邊選單side-nav/主視覺選單navbar-nav--------*/
/*--------主視覺 結束--------*/
/*--------關於我 開始--------*/
/*--------關於我 結束--------*/
/*--------插圖 開始--------*/
/*--------插圖 結束--------*/
/*--------原動畫 開始--------*/
    /*--------瀑布流--------*/
    /*--------fancybox--------*/
/*--------原動畫 結束--------*/
/*--------平面設計 開始--------*/
/*--------平面設計 結束--------*/
/*--------footer 開始--------*/
/*--------footer 結束--------*/
/*--------聯絡我modal--------*/
/*--------關於我頁面 開始--------*/
    /*拉bar*/
    /*專業技能*/
    /*程式技能*/
/*--------關於我頁面 結束--------*/
/*--------角色 開始--------*/
    /*border*/
    /*footer-role*/
/*--------角色 結束--------*/
/*不想長大*/
@import url(../css/bootstrap.css);
$ColorPrime:#46bebd;
$ColorSec:#e8e8e8;
$ColorDarkprime:#263943;
$ColorPrimelinear:linear-gradient(to bottom, #bbe9f5 ,#5fc6c6);
$ColorPrimelinear2:linear-gradient(to top, #bbe9f5 ,#5fc6c6);
$ColorDarkPrimelinear:linear-gradient(to bottom, #263943 ,#5998b1);
$ColorDarkPrimelinear2:linear-gradient(to bottom, #3c708b ,#88c7e0);

@mixin poa($t:50%,$l:50%){
    position: absolute;
    top:$t;
    left: $l;
    transform:translate(-50%,-50%);
}
@mixin poa0($b:0%,$l:0%){
    position: absolute;
    bottom:$b;
    left: $l;
    transform:translate(0%,0%);
}
@mixin bdrs($b:15px){
    border-radius:$b ;
}
/*Noto Sans TC*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

a{
	color: inherit;
}
a:hover{
	text-decoration: none;
	color: inherit;
}
*{
    position: relative;
    box-sizing: border-box;
    // overflow-x: hidden;
}
body,html{
    margin:0;
    padding: 0;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
body{
	font-family: 'Noto Sans TC', sans-serif;
    color: #999;
    letter-spacing: 0.2rem;
    background-color: $ColorSec;

}
hr {
    border-color: rgba(0,0,0,0.1)!important;
    width: calc(100% - 3.5rem);
    margin: .5rem 0 .5rem 1rem;
}
.wrapper{
    background-color: $ColorSec;
}
.body-container{
    padding-top: 65px;
    width: 100%;
    overflow-x: hidden;
}

.dark-bg{
    background-color: $ColorDarkprime;
    
}
.darklinear-bg{
    background: $ColorDarkPrimelinear;
    
}
.color-prime{
    color: $ColorPrime;
}
.color-sec{
    color: $ColorSec;
}
.flex-center{
    display: flex;
    justify-content: center;   
   
}


.poa{
    @include poa;
}
.title{
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-lr;
    color: $ColorPrime;
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.title span{
    writing-mode: horizontal-tb;

}
.vr-text{
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-lr;
}
.btn:focus,.btn:active{
    outline: none;
    box-shadow: none;
    border: none;
}


/*--------loading 開始--------*/
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  /*   background-color: $ColorDarkprime; */
    transition:1s;
    z-index: 10000;
  }
  .preloader:before{
    content:"";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: $ColorDarkprime;
    transition:1s; 
  }
  .preloader.complete:before{ 
    left: -50%;   
    transform: rotateY(45deg);
   
  }
  .preloader:after{
    content:"";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: $ColorDarkprime;
    transition:1s; 
  }
  .preloader.complete:after{
    right: -50%;   
    transform: rotateY(-45deg);

  }
  
  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border: 3px solid $ColorPrime;
    animation:animate 2s linear infinite;
    z-index: 2000;
    
  }
  
  .loader:before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $ColorPrime;
    animation: animateBg 2s linear infinite;
  
  }
  .preloader.complete{
    opacity: 0;
    visibility:hidden;
    pointer-events:none;
    perspective: 500;

  }
  @keyframes animate{
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
     25%{
        transform:translate(-50%,-50%) rotate(180deg);
    }
     50%{
        transform:translate(-50%,-50%) rotate(180deg);
    }
     75%{
        transform:translate(-50%,-50%) rotate(360deg);
    }
     100%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
  }
  
  @keyframes animateBg{
    0%{
       height: 0;
    }
     25%{
        height: 0;
    }
     50%{
        height: 100%;
    }
     75%{
       height: 100%;
    }
     100%{
       height: 0;
    }
  }



  .preloader img{
    @include poa;
    z-index: 1200;
    max-width: 500px;
  }
/*--------loading 結束--------*/
/*--------側邊選單 開始--------*/

.side-nav{
	position: fixed;
	right: .5rem;
	top: 65%;
    display: flex;
    text-align: left;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-lr;
    min-width: 160px;
    z-index: 50;
    align-items: flex-end;
}
@media (max-width:992px){
    .side-nav{      
        display: none;
    }
    
}

  
.side-nav img{
    width: 152px;
    height: auto;
    margin-bottom: 6px;
}
.side-nav li a{
	display: inline-block;
	background-color: #fff;
	margin-right: .5rem;
	padding: .5rem .25rem;
    color: $ColorPrime;
    font-size: 1rem;
	white-space: nowrap;
	height: auto;
	transition: all .3s;
}
.side-nav .active a,.side-nav li a:hover {
	background-color: $ColorPrime;
    color:  #fff;
    box-shadow: 0 0 8px rgba($ColorPrime,0.8);
	
}
.side-nav li a:hover {
	padding-top: 2rem;
	opacity: .8
}

/*--------側邊選單 結束--------*/
/*--------header 開始--------*/

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;

}
.navbar-logo{
	display: inline-block;
	width: 140px;
	height: 45px;

	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

/*menu-toggle*/
.menu-toggle{
	position: absolute;
	top: 0;
	right: 0;
	width: 56px;
	height: 56px;
	display: inline-block;
	padding: 12px;
	padding-top: 16px;
}
@media (min-width: 600px){
	.menu-toggle{
		display: none;
	}
}
.menu-toggle span{
	display: block;
	width: 100%;
	height: 2px;
	background-color: $ColorPrime;
    margin-bottom: 8px;

}
/*popup-nav*/
.popup-nav .nav__menu{
    display: none;

}
@media (max-width: 600px){
	.popup-nav{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #1c1c1c;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
    }
    #overlay{
        z-index: 200;
    }
	#overlay:target{
		opacity: 1;
		visibility: visible;
	}
	.popup-nav .nav__menu{
        padding-top: 56px; 
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: start;
	}
	.popup-nav .nav__menu li{
        background-color: #fff;
        color: $ColorPrime;
        padding: 12px 6px ;
        margin-right: 6px;
        margin-left: 6px;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-lr;
        max-height: 288px;
        transition: all .3s;
    }
    .popup-nav .nav__menu li.logo{
        width: 50px;
        height: auto;
        background-color: transparent;
        padding: 0;
    }
    .popup-nav .nav__menu li:hover{
        background-color: $ColorPrime;
        color:  #fff;
        box-shadow: 0 0 8px rgba($ColorPrime,0.8);
        padding-top: 2rem;
    }
    .popup-nav .nav__menu li.logo:hover{
        box-shadow: 0 0 8px rgba(White,0.8);
        background-color: #fff;
        padding-top: 0;

    }
	/*popup-close*/
	.popup-close{
		position: absolute;
		top: 0;
		right: 0;
		width: 56px;
		height: 56px;
		display: inline-block;
		padding: 12px;
		padding-top: 16px;
	}
	.popup-close span{
		height: 3px;
		width: 32px;
		background-color:$ColorPrime;;
		position: absolute;
		top: 50%;
	}
	.popup-close span:nth-child(1){
		transform: translateY(-50%) rotate(45deg);
	}
	.popup-close span:nth-child(2){
		transform: translateY(-50%) rotate(-45deg);
	}
}
/*--------header 結束--------*/

/*--------主視覺 開始--------*/
.navbar-nav{
    @include poa(140%,50%);
    z-index: 10;
}
.navbar-nav .menu{
     -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.navbar-nav .menu li{
    margin-right: 1.5rem;
}
.navbar-nav .menu li:first-child{
	margin-right: 0;
}
.navbar-nav .menu a{
    display: block;
	background-color: rgba(255,255,255,0.8);	
	padding:1rem .5rem;
    font-size: 18px;
    transition: all .5s;
}
.navbar-nav .menu a:hover{
    background-color: $ColorPrime;
    color: #fff;
    padding-bottom: 12rem;
    box-shadow: 0 0 10px rgba($ColorPrime,0.8);

}

.slogan{
    position: relative;
    left: 85%;
    top: -12rem;
	 -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-lr;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
    white-space: nowrap;
    z-index: 2;
    letter-spacing:.8rem;
}
.slogan-left{
    position: absolute;
    left: -60%;
    top: 20%;
}
.bg-box{
    @include poa(140%,20%);
    width: 250px;
    height: 250px;
    background: $ColorPrimelinear;
}
.banner{
    @include poa(30%,50%);
    width: 800px;
    height: auto;
    z-index: 1;
    max-width: 100%;
}

.scrollDown-btn{
    width: 1px;
    height: 400px;
    background-color: #fff;
    @include poa(100%,20%);
    z-index: 4;
    transform: rotate(-45deg);
    animation: breath 3s infinite;
    opacity: 0.4;
}
@keyframes breath{
    0%{opacity: 0.4;height: 300px; @include poa(100%,20%);transform: rotate(-45deg);}
    50%{opacity: 0.6;height: 400px; @include poa(110%,25%);transform: rotate(-45deg);}
    100%{opacity: 0.4;height: 300px; @include poa(100%,20%);transform: rotate(-45deg);}
}
/*--------裝飾線line左上右下/linetwo右上左下 開始--------*/

@media(min-width:992px){
    .line{
        position: absolute;
        width: 1px;
        height: 300px;
        background-color: #fff;
        top: 10%;
        left: 80%;
        z-index: 4;
        transform: rotate(-45deg);
        opacity: 0.4;
    }
    .line-2{
        position: absolute;
        width: 1px;
        height: 200px;
        background-color: #fff;
        top: 80%;
        left: 20%;
        z-index: 4;
        transform: rotate(-45deg);
        opacity: 0.4;
    }
    .line-3{
        position: absolute;
        width: 1px;
        height: 350px;
        background-color: #fff;
        top: 61%;
        left: 22%;
        z-index: 4;
        transform: rotate(-45deg);
        opacity: 1;
    }
    .line-4{
        position: absolute;
        width: 1px;
        height: 350px;
        background-color: #fff;
        top: 58%;
        left: 20%;
        z-index: 4;
        transform: rotate(-45deg);
        opacity: 0.9;
    }
    .line-5{
        position: absolute;
        width: 1px;
        height: 200px;
        background-color: #fff;
        top: 5%;
        left: 50%;
        z-index: 40;
        transform: rotate(-45deg);
        opacity: 0.9;
    }
    .linetwo{
        position: absolute;
        width: 1px;
        height: 300px;
        background-color: #fff;
        top: 50%;
        left: 20%;
        z-index: 40;
        transform: rotate(45deg);
        opacity: 0.4;
    }
    .linetwo-2{
        position: absolute;
        width: 1px;
        height: 300px;
        background-color: #fff;
        top: 58%;
        left: 14%;
        z-index: 40;
        transform: rotate(45deg);
        opacity: 0.6;
    }
    .linetwo-3{
        position: absolute;
        width: 1px;
        height: 450px;
        background-color: #fff;
        top: 80%;
        left: 14%;
        z-index: 40;
        transform: rotate(45deg);
        opacity: 0.8;
    }
    .linetwo-4{
        position: absolute;
        width: 1px;
        height: 350px;
        background-color: #fff;
        top: 20%;
        left: 81%;
        z-index: 40;
        transform: rotate(45deg);
        opacity: 0.8;
    }
    .linetwo-5{
        position: absolute;
        width: 1px;
        height: 200px;
        background-color: #fff;
        top: 30%;
        left: 80%;
        z-index: 40;
        transform: rotate(45deg);
        opacity: 0.8;
    }
    .linetwo-6{
        position: absolute;
        width: 1px;
        height: 200px;
        background-color: #fff;
        top: 80%;
        left: 43%;
        z-index: 40;
        transform: rotate(45deg);
        opacity: 0.8;
    }
    .linetwo-7{
        position: absolute;
        width: 1px;
        height: 400px;
        background-color: #fff;
        top: 81%;
        left: 47%;
        z-index: 40;
        transform: rotate(45deg);
        opacity: 0.8;
    }
    .linetwo-8{
        position: absolute;
        width: 1px;
        height: 300px;
        background-color: #fff;
        top: 45%;
        left: 70%;
        z-index: 40;
        transform: rotate(45deg);
        opacity: 0.8;
    }
    
}
/*--------裝飾線line左上右下/linetwo右上左下 結束--------*/

/*RWD側邊選單side-nav/主視覺選單navbar-nav--------*/

.side-nav li:last-child a{
    margin-right: 0;
}
@media (max-width:600px){
    .side-nav img{
        width: 130px;
    }
    
    .side-nav li a{
        display: inline-block;
        background-color: #fff;
        margin-right: .5rem;
        padding: .5rem .25rem;
        color: $ColorPrime;
        font-size: 12px;
    }
    
    .navbar-nav{
        position: absolute;
        top: 25vh;
        left: 50%;
        transform: translatex(-50%);
       
    }
    .navbar-nav .menu li{
        margin-right: .5rem;
    }
    .navbar-nav .menu a{
        display: block;
        background-color: #fff;	
        padding:1rem 5px;
        font-size: 12px;
        transition: all .5s;
    }
    .slogan{
        position: absolute;
        top: -16rem;
        letter-spacing:.25rem;
    }
    .slogan h2{
        font-size: 1rem;
    }
    .banner{
        @include poa(70%,50%);
        z-index: 1;
        max-width: 100%;
    }
}



/*--------主視覺 結束--------*/
/*--------關於我 開始--------*/
.a-img a{
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    width: 170px;
    height:400px;
    box-shadow: 0 -1px 4px rgba($ColorDarkprime,0.2);
    position: relative;
   

}
.a-img .imgbox{transition: all .3s;}

.a-img .imgbox:hover{
    opacity: 1!important;
    mask-image: linear-gradient(top, rgba(0,0,0,1)70%, rgba(0,0,0,0.3));
}
.a-content{ 
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-lr;
    max-height: 400px;
   padding-top: 1rem;
}

.a-content .title{   
   color: $ColorPrime;
   padding: 0;
   margin: 0;
}
.a-content p{
    color: #fff;
}
.a-bg{
    background-color: $ColorDarkprime;
    width: 100%;
    z-index: 0;
    height: 600px;
     @include poa0;
  
}
@media(min-width:576px){
    .a-content{
        max-width: 190px;
    }      
    
}
@media(max-width:576px) and (min-width:380px){  
    .a-img,.a-content{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:1200px){
    .a-bg{
        height: 860px;    
        }
}
@media (max-width:992px){
    .f-sm-center{      
        display: flex;
        justify-content: center;
    }
    .a-bg{
    height: 100%;

    }
}


.about-box{
    position: absolute;
    @include poa;
    display: flex;
    flex-direction: column;
}
.about-box img{
   width: 100%;
   max-width: 122px;
}
.btn-prime{
    background-color: #fff;
    @include bdrs;
    color: $ColorPrime;
    letter-spacing: normal;
    user-select: none;
    cursor: pointer;
}
.btn-prime:hover{
    color: #fff;
    background-color: $ColorPrime;
    box-shadow: 0 0 8px rgba($ColorPrime,0.8);
}
/*--------關於我 結束--------*/

/*--------插圖 開始--------*/
.owl-carousel button.owl-dot.active,.owl-carousel button.owl-dot{
    transition: all .3s;
}
.owl-carousel button:focus{
    outline: none;
    @include bdrs(0px);
}
.owl-carousel button.owl-dot.active{
    background-color:rgba($ColorPrime,1)!important;
  }
  .owl-carousel button.owl-dot:not(.active):hover{
    background-color:rgba($ColorPrime,0.7)!important;

  }
#myCarousel .owl-carousel .owl-dots,#myCarousel2 .owl-carousel .owl-dots{
    top: 0;
    position: absolute;      
    left: calc(100% - 2rem - 6px);
    max-width: 10px;  
}
#myCarousel2 .item .imgbox{
    @include bdrs(50%);
    transform-origin: center;
    transform: rotate(90deg);
}
#myCarousel .owl-carousel button.owl-dot,#myCarousel2 .owl-carousel button{
    height: 50px;
    width: 7px;
    border: 1px solid $ColorPrime;
    margin: 4px 0;
    background-color:rgba($ColorPrime,0.4);   
}
#myCarousel .owl-carousel .owl-item .imgbox{
    @include bdrs;
    border: .5rem solid #fff;
    width: calc(100% - 4rem - 6px);
}
#myCarousel .owl-carousel .owl-item .imgbox img{
    @include bdrs;

}
#myCarousel .carousel .owl-stage-outer{
    position: relative;
}
#myCarousel .carousel p{
  background-color: rgba($ColorSec,0.8);
  padding: 4px 0;
  @include bdrs(4px);
}

#myCarousel2 .item{
    padding: 0 6px;
}
#myCarousel2 .item .imgbox{
    cursor: pointer;
   
}


@media(min-width:768px){
    #myCarousel .carousel .title{
        margin-left: calc(-5rem + 6px);
    }
    #myCarousel .carousel p{
        display: block;
        position: absolute;
        top: calc(2.5rem * 4);
        right: 0;
    }
   
    #myCarousel .owl-carousel .owl-dots{
        top: 70%;
 
    }
    
    #myCarousel2 .carousel{
        position: relative;
    }

    #myCarousel2 .title{
        margin-left: calc(50% - 2rem);
    }
    #myCarousel2 .owl-carousel {
        position: absolute;
        top: 0;
        left: -70%;
        transform: rotate(-90deg) scale(1.25);
        transform-origin: right bottom;
        margin: 10px;
    }
    #myCarousel2 .item .imgbox{
        transform-origin: center;
        transform: rotate(90deg);      
    
    }
    #myCarousel2 .owl-carousel .owl-dots{
        transform: rotate(90deg) translate(-100%,-50%) scale(0.8);
        position: absolute;
        left: 30%;
        top: 100%;
        
    }
}

@media(max-width:600px){  
    #myCarousel .carousel p{
        position: absolute;
        right: 0;
        display: block;
        top: 50%
      
    }
    #myCarousel .carousel .title{
        position: absolute;
         right: 2rem;
         z-index: 2;
     }  
    #myCarousel2 .owl-carousel .owl-dots{
        position: relative;
        transform: rotate(90deg);
       margin: auto 0;
    }
  
    #myCarousel2 .owl-carousel {
        transform: rotate(-90deg);
        width: calc(181px * 2 );
        margin: auto;
        margin-left: 2.5rem;
        top: -200px;
        
    }
}
@media(max-width:600px){
    #myCarousel .carousel p{
        display: none;
    }
}
/*--------插圖 結束--------*/

/*--------原動畫 開始--------*/

.ani.title{
    margin-top: -1rem;
    right: 8rem;
}

.ani .btn{
    @include poa;
}
@media(max-width:992px){
    .ani.title{
        margin-top: 0rem;
        right: 0;
    }
    
    .ani .btn{
        
       transform: translate(-50%,-70%);
    }
}
/*--------瀑布流--------*/

.masonry img,.masonry video{
    width: 100%;
    height: auto;
    @include bdrs;
    box-shadow: 0 2px 4px rgba($ColorDarkprime,0.2);

}
.masonry .item{
    padding: 6px;
}
@media(min-width:1200px){
    .bg-box.masonry-bg-box{
        background: $ColorPrimelinear2;
        position: absolute;
        top: -10%;   
        left: -40%;
        height: 100%;
        width: 80%;
        z-index: 0;
        transform: rotate(45deg);
        box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
        overflow: hidden;
     
     }
    .bg-box.masonry-bg-box2{
           background: $ColorDarkPrimelinear2;
           position: absolute;
           top: 30%;   
           left: 100%;
           height: 100%;
           width: 100%;
           box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
           z-index: 0;
    }
}

@media(max-width:1200px){
    .bg-box.masonry-bg-box{
        background: $ColorPrimelinear2;
        position: absolute;
        top: -5%;   
        left: 0%;
        height: calc(100% + 5%);
        width: 100%;
        z-index: 0;
        transform: rotate(0deg);
        box-shadow: inset 0 2px 5px rgba(0,0,0,0.2); 
        overflow: hidden;
     
     }
     .bg-box.masonry-bg-box2{
        background: $ColorDarkPrimelinear2;
        position: absolute;
        top: -10%;
        left: 20%;
        height: 100%;
        width: 100%;
        box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
        z-index: 0;
        transform: rotate(45deg);
 }
}


.imgbox{
    max-width: 100%;
    transition: all .5s;
}
.ani .imgbox{
    border: 1px solid #fff;

}
.imgbox:hover,.owl-carousel .owl-item img:hover,.owl-carousel .owl-item img.active{
    opacity: 0.6;
    box-shadow: 0 0px 8px rgba($ColorPrime,0.8);
    border: 1px solid $ColorPrime;
    
}
.owl-carousel .owl-item img.active{
    opacity: 0.8;
}

/*--------fancybox--------*/

.fancybox-navigation{
    height: 100%;
}


/*--------原動畫 結束--------*/
/*--------平面設計 開始--------*/

.design.section{
    box-shadow: inset 0 2px 20px rgba($ColorSec,0.2);
}

.bg-box.design-bg-box{
   background: $ColorDarkPrimelinear2;
   position: absolute;
   top: 0%;   
   left: 0%;
   height: 200px;
   width: 200px;
   z-index: 0;
}
/*設計tab*/
.tab-pane{
    display: flex;
}
.design.section .bg-box {
    position: absolute;
    top: 60%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbe9f5), to(#5fc6c6));
    background: linear-gradient(to bottom, #bbe9f5, #5fc6c6);
}

.design.section .imgbox{
    width: 500px;
    max-width: 100%;
    height: auto;
    border: 4px solid #fff;
}
.design.section .tabs-left{
    height: 700px;
    color: $ColorPrime;
    display: flex;
}
.design.section p{
    padding-left: 1rem;
    color: #fff;
}

@media(max-width:992px){
    .design.section .bg-box{
        width: 100px;
        height: 100px;
        left: 80%;
        top: 77%;
    } 
    .design.section .tabs-left{
        display: block;
        width: 100%;
    }
    .tabs-left > .nav-tabs > li > a{
        border-radius: 0px 15px 15px 0!important;
    }
    .design.section .imgbox{
    width: 480px
    }
}

@media(max-width:768px){
    .design.section .imgbox{
        width: 400px;
    }


    .design.section p{
        padding: .5rem;
    }
}

@media(max-width:380px){
    .design.section .imgbox{
        width: 300px;
    }

    .design.section p{
        padding: .5rem;
    }
}

.tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    border:none;
    display: flex;
    flex-direction: column;
  }

  .nav-tabs .nav-link{
    color: #fff;
    background-color: rgba($ColorSec,0.8);
    border: none;
  }

  .tabs-left > .nav-tabs > li > a{
    border-radius: 15px 0 0 15px;
  }
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: #fff;
    background-color: rgba($ColorPrime,0.8);
    }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $ColorPrime;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 8px rgba(White,0.8);

}
/*--------平面設計 結束--------*/



/*--------footer 開始--------*/
.footer{
    background-color: #fff;
    display: flex;
    align-items: center;
}

.footer img{
    width: 145px;
    height: auto;
}
.footer .info{
    color: $ColorPrime;
    display: inline-block;
    vertical-align: middle;
}
.footer .btn{
   @include poa;
   text-align: center;
}
@media(min-width:992px){
    .footer .btn{
        min-width: 106px;
    }
}
@media(max-width:992px){
    .footer .btn{     
        left: 100%;
        transform: translate(-100%,-50%);
        @include bdrs(50%);
        border: 1px solid $ColorPrime;
    }
    .footer .btn .mdi-email-outline:before{
        font-size: 24px;
       

    }
}
/*--------footer 結束--------*/
/*--------聯絡我modal--------*/

.modal-title{
    color: $ColorPrime;
}
.modal img{
    width: 103px;
    height: auto;
}
.form-control:focus{
    box-shadow: 0 0px 8px rgba($ColorPrime,0.8);
    border: 1px solid $ColorPrime;
}
.modal .btn{
    border: 1px solid $ColorPrime;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.modal .btn.btn-default{
    color: #ccc;
    border: 1px solid #ccc;
    @include bdrs;
    box-shadow: none;

}
.modal .btn.btn-default:hover{
    background-color: #ccc;
    color: #fff;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem;
}


/*--------關於我頁面 開始--------*/

.myPic{
    border: 1px solid $ColorPrime;
    width: 300px;
    height: 100vh;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 300px;
    background-attachment: fixed; 
    position: absolute;
}
@media(max-width:992px){
    .myPic{
        position: relative;
        height: 200px;
        width: 100%;
    }
}
.glass{
    width: 100%;
    height: 41%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);   
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba($ColorPrime, .6);
    filter: blur(20px);
    margin: -20px;
}
.glass:after{
    content: "拖曳綠色小方塊";
    color: White;
    text-shadow: 0 0 10px rgba($ColorPrime,1);
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-lr;
    @include poa;
    font-weight: 900;
    animation: glassword 2s linear infinite;
    opacity: 1;
    height:50%;
    width: 24px;
    overflow: hidden;
}
.glass.noword:after{
    content: "";
    color: White;
    text-shadow: 0 0 10px rgba($ColorPrime,1);
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-lr;
    @include poa;
    opacity: 1;
    height:50%;
    width: 24px;
}
@keyframes glassword{
    0%{opacity: 1;height:50%;}
    25%{opacity: 0.8;height:25%;}
    50%{opacity: 0;height:0%;}
    75%{opacity: 0.5;height:25%;}
    100%{opacity: 1;height:50%;}
}
.about-content-outter{
    margin-left: 300px;
    display: flex;


/*拉bar*/
.about-content{
    display: inline-block;  
}
#parentBar{
    width: 30px;
    min-width: 30px;
    height: calc(100vh - 6.5rem);
    position: relative;
    top: 3.5rem;
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,0.1);
  
  }
  #bar-block{
    width: 30px;
    height: 30px;
    background-color: $ColorPrime;
    position: absolute;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all .3s;
    top: 383px;
  }
  #bar-block:hover{
    box-shadow: 0 0 8px rgba($ColorPrime,0.8);
    background-color: #6ec1c0;;
  }

}
@media(max-width:992px){
    .about-content-outter{
        margin-left: 0;

    
    }
    .glass:after{
        display: none;
    }
    .about-content-outter #parentBar,#bar-block{
        display: none;
    }
    .myPic{
        background-size: 100%;
    }
}  
  /*專業技能*/
  .listSkill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .listSkill li {
    width: 25%;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border: 1px solid #699bb6;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .circle::after {
    content: "";
    display: block;
    background-color: $ColorSec;
    border: 1px solid #699bb6;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .p90, .p180, .p270, .p360 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: #a7eaee;
  }
  
  .p180 {
    top: 50%;
  }
  
  .p270 {
    left: 0;
    top: 50%;
  }
  
  .p360 {
    left: 0;
    top: 0;
  }
  
  /*程式技能*/
  .listProgram .bar {
    width: 100%;
    height: 16px;
    border: solid 1px #699bb6;
    border-radius: 15px;
    overflow: hidden;
    background: transparent;
  }
  
  .listProgram li {
    padding-top: 10px;
  }
  
  .value {
    height: 100%;
    width: 60%;
    background-color: #a7eaee;
  }
  
  .value.p10 {
    width: 10%;
  }
  
  .value.p20 {
    width: 20%;
  }
  
  .value.p30 {
    width: 30%;
  }
  
  .value.p40 {
    width: 40%;
  }
  
  .value.p50 {
    width: 50%;
  }
  
  .value.p60 {
    width: 60%;
  }
  
  .value.p70 {
    width: 70%;
  }
  
  .value.p80 {
    width: 80%;
  }
  
  .value.p90 {
    width: 90%;
  }
  
  .value.p100 {
    width: 100%;
  }
  

/*--------關於我頁面 結束--------*/



/*--------角色 開始--------*/
.navbar.role{
    color: $ColorPrime;
    justify-content:normal
}
.navbar.role .role-title{
    margin-left: 4px;
}
.imgbox.role-banner{
    width:100%;
    border: 8px solid #fff;
    @include bdrs;
    mask-image: linear-gradient(right top, rgba(0,0,0,1), rgba(0,0,0,0.2));
}
.imgbox.role-banner:hover{
    opacity: 1;
    mask-image: linear-gradient(right top, rgba(0,0,0,1), rgba(0,0,0,0.8));
}
img.role-bg{
    position: absolute;
    top: calc(65px + 200px);
    left: 0;
    width: 300px;
    max-width: 100%;
} 
img.role-bg.role-bg-t{
    width: 460px;
    top: calc(65px + 300px);
}
img.role{
    width: 100%;
    max-width: 100%;
    cursor: pointer;
}
.role-card img{
    position: relative;
    width: 80%;
    
}
.role-card::before{
    content: "";
    position: absolute;
    width: 70%;
    height: 350px;
    background-color: #fff;
    left: 5%;
    top: 10%;

}
.role-card::after{
    content: "剛格利";
    position: absolute;
    background-color: $ColorPrime;
    width: 170px;
    height: 170px;
    top: 1rem;
    left: 70%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
/*border*/
.border-top{
    border-top: 16px solid #fff !important;
}
.border-bottom{
    border-bottom: 16px solid #fff !important;
}
.border-left{
    border-left: 8px solid #fff !important;
}
.border-right{
    height: 80%;
    border-right: 8px solid #fff !important;
}


/*footer-role*/
.footer-role{
    background-color: #fff;
}



#myCarousel3 .owl-carousel .owl-item{
    padding:0 .5rem;
}
#myCarousel3  .owl-carousel .owl-item img{
    max-width: 100%;  
    transition: all .3s;  
    @include bdrs(50%);
    cursor: pointer;
  }

@media(min-width: 992px){
   
    #myCarousel3  .btn.btn-prime{      
    position: absolute;
    top: 0;
    right: -1rem;
    transform: translateX(100%);
    }
    #myCarousel3{
        width: 500px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #myCarousel3  .owl-carousel .owl-item img{
       width: 125px;  
    }
}
#myCarousel3 .owl-dots{
    position: absolute;
    width: 100%;
    top: 50%;
    right: calc(-100% - 1rem);
    display: inline-block;
  }
@media(max-width: 992px){
    #myCarousel3  .btn.btn-prime{
        width: 100%; display: block;
      }
    #myCarousel3 .owl-dots{
        position: absolute;
        left: 40%;
        top: calc(0%);
        transform: translate(0%,-100%);
    }
}

@media(max-width: 556px){
    #myCarousel3 .owl-dots{
        left: 30%;
        top: calc(0%);
        transform: translate(0%,-100%);
    }
  
}
  #myCarousel3 .owl-carousel button.owl-dot{
    height: 7px;
    width: 50px;
    margin-right:6px; 
    border:1px solid $ColorPrime; 
    background-color:rgba($ColorPrime,0.4);
  }


  
/*--------角色 結束--------*/


/*不想長大*/
.role-grow{
    position: absolute;
    left: 80%;
    top: -100px;
    width: 120px;
    z-index: 2;
}
.role-grow2{
    position: absolute;
    left: 20%;
    top: 72%;
    width: 70px;
    z-index: 2;
}

.role-grow3{
    position: absolute;
    left: 24%;
    top: -60px;
    width: 120px;
    z-index: 2;
}
.role-grow4{
    position: absolute;
    left: 100%;
    top: 80px;
    width: 80px;
    z-index: 2;
}
.role-grow5{
    position: absolute;
    left: -20%;
    top: 50%;
    width: 80px;
    z-index: 2;
}